<nav class='navbar fixed-top navbar-expand-md custom-navbar navbar-dark'>
    <img class='navbar-brand' src='../../assets/logo.png' id='logo_custom' width='5%' alt='logo'>
    <button class='navbar-toggler navbar-toggler-right custom-toggler' type='button' data-toggler='collapse' data-target='#collapsibleNavbar'>
        <span class='navbar-toggler-icon'></span>
    </button>
    <div class='collapse navbar-collapse' id='collapsibleNavbar'>
        <ul class='navbar-nav ml-auto'>
            <li class='nav-item'>
                <a class='btn btn-primary' *ngIf='this.userService.isLoggedIn()' (click)='logOut()'>
                    <b> Logout </b>
                </a>
                <a class='btn btn-success' *ngIf='!this.userService.isLoggedIn()' routerLink='/login'>
                    <b> Login </b>
                </a>
            </li>
        </ul>
    </div>
</nav>
