* {
    box-sizing: border-box;
    }
    
    .login-page{
    background: url(/assets/background.jpg);
    background-size: 100%;
    min-height: 100vh;
    padding-top: 6%;
    }
    .is-invalid {
    border:1px solid red!important;
    
    }
    
    .is-invalid::placeholder {
    color:red!important
    }
    img {
    display: block;
    width: 80px;
    margin: 30px auto;
    box-shadow: 0 5px 10px -7px #333333;
    border-radius: 50%;
    }
    
    
    form
    {
    margin-top: 20px;
    }
    .form { 
    margin-top: 100px;
    background-color:#ffffffe8;
    width: 500px;
    padding: 30px;
    margin: 0px auto;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 10px -3px #333;
    text-align: center;
    }
    
    input {
    background-color: #ffffffe8;
    border-radius: 100px;
    padding: 10px 15px;
    width: 70%;
    border: 1px solid #D9D9D9;
    outline: none;
    display: block;
    margin: 20px auto 20px auto;
    }
    .alert{
    width: 70%;
    text-align: center;
    margin: 0 auto;
    }
    
    button {
    border-radius: 100px;
    border: none;
    background: #719BE6;
    width: 50%;
    padding: 10px;
    color: #FFFFFF;
    margin-top: 25px;
    box-shadow: 0 2px 10px -3px #719BE6;
    display: block;
    margin: 55px auto 10px auto;
    }
    
    a {
    text-align: center;
    margin-top: 30px;
    color: #719BE6;
    text-decoration: none;
    padding: 5px;
    display: inline-block;
    }
    
    a:hover {
    text-decoration: underline;
    }